@tailwind base;
@tailwind components;
@tailwind utilities;

@import "themes/red.css";
@import "themes/black.css";
@import "themes/beige.css";
@import "themes/teal.css";

@font-face {
  font-family: 'MK Hell';
  src: url('../public/fonts/MK-HELL-Regular.ttf') format('truetype');
}
@font-face {
  font-family: 'Forma Medium';
  src: url('../public/fonts/forma-djr/FormaDJRBanner-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'Forma Bold';
  src: url('../public/fonts/forma-djr/FormaDJRBanner-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'Forma Extra Bold';
  src: url('../public/fonts/forma-djr/FormaDJRBanner-ExtraBold.ttf') format('truetype');
  font-weight: 800;
  font-style: normal;
}
/* @font-face {
  font-family: 'Helvetica Neue Light Italic';
  src: url('/public/fonts/helveticaneue/HelveticaNeueIt.ttf') format('truetype');
  font-weight: 400;
  font-style: italic;
} */
a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@layer base {
  html {
    @apply scroll-smooth bg-fixed font-primary transition-200 bg-primary text-secondary ;
    /* beige theme */
    --color-primary: "#F6EFD3";
    --color-secondary: "#2C2524";
    --color-tertiaru: "#2C2524";

  }
  h1 {
    @apply text-5xl md:text-[72px];
  }
  h2 {
    @apply text-4xl md:text-6xl 2xl:text-7xl uppercase font-forma-extrabold tracking-wide;
  }
  h3 {
    @apply  text-2xl md:text-3xl xl:text-4xl uppercase;
  }
  h4 {
    @apply  text-xl md:text-2xl xl:text-[32px] uppercase;
  }
  p {
    @apply tracking-wider;
  }
  button {
    @apply tracking-wider;
  }
  div {
    @apply tracking-wider;
  }
}

html {
  scroll-behavior: smooth;
}

@keyframes shimmer {
  0% {
    background-position: 0% 0%;
  }

  100% {
    background-position: 200% 0%;
  }
}

/* Wallet Adapter */

.wallet-adapter-modal-wrapper { 
  @apply !rounded-sm !bg-opacity-90 !uppercase;
}
.wallet-adapter-modal-wrapper h1{ 
  @apply !text-white;
}
.wallet-adapter-button { 
  @apply hover:!bg-opacity-100;
}
.wallet-adapter-modal-button-close{
  @apply !bg-transparent;
}

/*  Layout  */

.row-centered {
  @apply flex items-center justify-center;
}
.row-between {
  @apply flex items-center justify-between;
}
.row-start {
  @apply flex items-start justify-start;
}
.row-evenly {
  @apply flex items-center justify-evenly;
}
.row-around {
  @apply flex items-center justify-around;
}
.col-centered {
  @apply flex flex-col items-center justify-center;
}
.col-start {
  @apply flex flex-col items-start justify-start;
}
.col-evenly {
  @apply flex flex-col items-center justify-evenly;
}
.col-around {
  @apply flex flex-col items-center justify-around;
}

.page-centered {
  @apply h-full w-full col-centered mb-16;
}
.page-start {
  @apply h-full w-full col-start mb-16;
}

.left-centered {
  @apply absolute left-1/2 transform -translate-x-1/2;
}
.top-centered {
  @apply absolute top-1/2 transform -translate-y-1/2;
}
.centered {
  @apply left-centered top-centered;
}

/* Animations */
.transition-1000{
  @apply transition-all duration-1000;
}
.transition-500{
  @apply transition-all duration-500;
}
.transition-300{
  @apply transition-all duration-300;
}
.transition-200{
  @apply transition-all duration-300;
}

/* classes */
.menu-icon {
  @apply absolute left-0 w-full h-full transform transition-transform duration-300 stroke-secondary opacity-50;
}
.hover-opacity-75 {
  @apply transition-300 hover:opacity-75
}

/* lines */
.outer-left-spacing {
  @apply xl:left-[90px] 2xl:left-[120px] ; 
}
.outer-left-margin {
  @apply xl:ml-[90px] 2xl:ml-[120px] ; 
}
.outer-left-padding {
  @apply xl:pl-[90px] 2xl:pl-[120px]; 
}
.outer-left-line {
  @apply outer-left-spacing z-[10] hidden xl:block fixed w-[1px] h-screen;
}

.inner-left-spacing {
  @apply xl:left-[250px] 2xl:left-[340px]; 
}
.inner-left-margin {
  @apply xl:ml-[250px] 2xl:ml-[340px]; 
}
.inner-left-padding {
  @apply xl:pl-[250px] 2xl:pl-[340px] ; 
}
.inner-left-line {
  @apply inner-left-spacing z-[10] hidden xl:block fixed w-[1px] h-screen;
}

.outer-right-spacing {
  @apply xl:right-[250px] 2xl:right-[340px] max:right-auto max:left-[1580px]; 
}
.outer-right-margin {
  @apply xl:mr-[250px] 2xl:mr-[340px]; 
}
.outer-right-padding {
  @apply xl:pr-[250px] 2xl:pr-[340px]; 
}
.right-line {
  @apply outer-right-spacing z-[10] hidden xl:block fixed w-[1px] h-screen;
}

.absolute-x {
  @apply absolute -left-5 xl:-left-[250px] 2xl:-left-[340px] -right-5 xl:-right-[250px] 2xl:-right-[340px];
}

/* other */

.about-cards {
  @apply rounded-br-[150px] sm:rounded-br-[100px] object-cover;
}
.about-cards-container {
  @apply flex flex-wrap xl:flex-nowrap justify-center xl:justify-between gap-5 my-5 px-5 xl:px-0 w-full;
}
.text-container-width {
  @apply max-w-[720px] 2xl:max-w-[920px];

}
.intro-text-container {
  @apply col-start gap-8 my-10 mx-5 text-container-width;
}
.intro-text {
  @apply text-lg md:text-xl xl:text-2xl 2xl:text-4xl tracking-wide;
}

.slimes-button {
  @apply font-forma-bold text-white bg-scum-black/30 row-centered text-base transition-200 hover:bg-scum-black/50 active:bg-scum-black/60
}
.slimes-button-round {
  @apply slimes-button rounded-full w-[44px] h-[44px] pt-0.5;
}
.small-mx {
  @apply mx-5 xl:mx-0;
}
.small-px {
  @apply px-5 xl:px-0;
}