@tailwind base;
@tailwind components;
@tailwind utilities;

@import "themes/red.css";
@import "themes/black.css";
@import "themes/beige.css";
@import "themes/teal.css";

@font-face {
  font-family: 'MK Hell';
  src: url('../public/fonts/MK-HELL-Regular.ttf') format('truetype');
}
@font-face {
  font-family: 'Forma Medium';
  src: url('../public/fonts/forma-djr/FormaDJRBanner-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'Forma Bold';
  src: url('../public/fonts/forma-djr/FormaDJRBanner-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'Forma Extra Bold';
  src: url('../public/fonts/forma-djr/FormaDJRBanner-ExtraBold.ttf') format('truetype');
  font-weight: 800;
  font-style: normal;
}
/* @font-face {
  font-family: 'Helvetica Neue Light Italic';
  src: url('/public/fonts/helveticaneue/HelveticaNeueIt.ttf') format('truetype');
  font-weight: 400;
  font-style: italic;
} */
a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@layer base {
  html {
    @apply scroll-smooth bg-fixed font-primary bg-primary text-secondary;
    /* beige theme */
    --color-primary: "#F6EFD3";
    --color-secondary: "#2C2524";

  }
  h1 {
    @apply text-5xl md:text-[72px];
  }
  h2 {
    @apply  text-4xl md:text-[64px];
  }
  h3 {
    @apply  text-2xl md:text-3xl;
  }
}

html {
  scroll-behavior: smooth;
}

@keyframes shimmer {
  0% {
    background-position: 0% 0%;
  }

  100% {
    background-position: 200% 0%;
  }
}

/* Wallet Adapter */

.wallet-adapter-modal-wrapper { 
  @apply !rounded-sm !bg-opacity-90 !uppercase;
}
.wallet-adapter-modal-wrapper h1{ 
  @apply !text-white;
}
.wallet-adapter-button { 
  @apply hover:!bg-opacity-100;
}
.wallet-adapter-modal-button-close{
  @apply !bg-transparent;
}

/*  Layout  */

.row-centered {
  @apply flex items-center justify-center;
}
.row-between {
  @apply flex items-center justify-between;
}
.row-start {
  @apply flex items-start justify-start;
}
.row-evenly {
  @apply flex items-center justify-evenly;
}
.row-around {
  @apply flex items-center justify-around;
}
.col-centered {
  @apply flex flex-col items-center justify-center;
}
.col-start {
  @apply flex flex-col items-start justify-start;
}
.col-evenly {
  @apply flex flex-col items-center justify-evenly;
}
.col-around {
  @apply flex flex-col items-center justify-around;
}

/* Animations */
.transition-1000{
  @apply transition-all duration-1000;
}
.transition-500{
  @apply transition-all duration-500;
}
.transition-300{
  @apply transition-all duration-300;
}
.transition-200{
  @apply transition-all duration-300;
}

/* classes */
.menu-icon {
  @apply absolute left-0 w-full h-full transform transition-transform duration-300 stroke-secondary opacity-50;
}
.hover-opacity-75 {
  @apply transition-300 hover:opacity-75
}
.hover-opacity-75 {
  @apply transition-300 hover:opacity-75
}

/* lines */
.outer-left-spacing {
  @apply xl:left-[90px] 2xl:left-[120px]; 
}
.outer-left-margin {
  @apply xl:ml-[90px] 2xl:ml-[120px]; 
}
.outer-right-spacing {
  @apply xl:right-[250px] 2xl:right-[340px]; 
}
.outer-right-margin {
  @apply xl:mr-[250px] 2xl:mr-[340px]; 
}
.left-line {
  @apply outer-left-spacing -z-[1] hidden xl:block fixed w-[1px] h-screen;
}
.right-line {
  @apply outer-right-spacing -z-[1] hidden xl:block fixed  w-[1px] h-screen;
}
